.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;

  &__logo {
    display: flex;
    width: 100px;
  }

  &__image {
    position: relative;
    bottom: 20px;
    width: 193px;
    margin-bottom: 0px;
  }

  &__external-heading {
    margin-bottom: 30px;

    h2 {
      font-size: 28px;
    }
  }

  &__body {
    min-width: 428px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 24px;
  }
}


@media screen and (max-width: $small) {
  .auth-container {
    &__external-heading {
      margin-bottom: 20px;

      h2 {
        font-size: 21px;
        text-align: center;
      }
    }

    &__body {
      min-width: auto;
      max-width: calc(100% - 30px);
    }
  }
}
